.quote{
    font: 400 72px "Arizonia", Helvetica, sans-serif;
    color: green;
    text-align: center;

}
post-title {
    color: darkcyan;
}
.cover_image {
    width: 900px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
    margin-bottom: 100px;
    display: block;
}
