.quote{
    font: 400 72px "Arizonia", Helvetica, sans-serif;
    color: green;
    text-align: center;

}
post-title {
    color: darkcyan;
}
.cover_image {
    width: 900px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
    margin-bottom: 100px;
    display: block;
}

.centerblock{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/* .usernameHeader {

    display: inline-block;
    width: 3em;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    /* Add 3 dots at the end of an unfinished name*/
    /* text-overflow: ellipsis; */
*/

p {
    font-size: 1.2vw;
}